body {
    margin: 0;
    background: linear-gradient(#0050B2, #585bf0, #84B6F4);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .logo {
    height: 5%;
    width: 5%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #A7E9AF;
    margin: 0;
    padding: 0;
  }
  .footer {
    padding: 10px;
    background-color: #A7E9AF;
  }
  .logo-footer {
    padding-top: 15px;
    height: 55%;
    width: 55%;
  }
  .foooter {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .terminos {
    padding-top: 25px;
    align-items: center;
    justify-content: center;
  }