
  .logo {
    width: 40px; /* Ajusta el valor según el tamaño deseado */
    height: auto;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #A7E9AF;
    margin: 0px;
    padding: 2px;
  }
  .custom-nav {
    margin-left: 150px;
    margin-right: 170px;
  }
  .custom-nav-link {
    white-space: nowrap; /* Evita que el texto se desplace hacia abajo */
  }
  .row {
    margin: 3%;
  }
  .col {
    margin: 1%;
  }
  h2 {
    background: linear-gradient(#6ce27a, #A7E9AF);
    padding: 5%;
    display: flex;
    justify-content: center;
    border-end-end-radius: 30%;
    border-top-left-radius: 30%;
  }
  .caja {
    padding: 5%;
  }
  .caja2 {
    padding: 1%;
  }