body {
    margin: 0;
    background: linear-gradient(#0050B2, #585bf0, #84B6F4);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .logo {
    height: 5%;
    width: 5%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #A7E9AF;
    margin: 0;
    padding: 0;
  }
  .row {
    margin: 3%;
  }
  .col {
    background-color: #585bf0;
  }
  .card {
    background-color: #EFF9BF;
  }
  .card-img-bottom {
    margin: 1%;
    height: 30%;
    width: 50%;
  }
  .card-img-top {
    margin: 1%;
    height: 30%;
    width: 50%;
  }
  .col-md-8 {
    padding: 10%;
    display: flex;
    justify-content: center;
  }
  button {
    background: linear-gradient(#585bf0, #84B6F4);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #2e518b;
    /*anchura, estilo y color borde*/
    padding: 10px;
    /*espacio alrededor texto*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    font-family: 'Helvetica', sans-serif;
    /*tipografía texto*/
    border-radius: 50px;
  }
  