
  .logo {
    height: 5%;
    width: 5%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #A7E9AF;
    margin: 0;
    padding: 0;
  }
  .row {
    margin: 0.5%;
  }
  .card {
    width: 49%;
    margin: 7px;
    background-color: #EFF9BF;
  }