body {
    margin: 0;
    background: linear-gradient(#0050B2, #585bf0, #84B6F4);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .logo {
    height: 5%;
    width: 5%;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #A7E9AF;
    margin: 0;
    padding: 0;
  }
  .row {
    margin: 0.5%;
  }
  .card {
    width: 49%;
    margin: 7px;
    background-color: #EFF9BF;
  }