* {
  list-style: none;
  text-decoration: none;
}
/*-----------------------NUEVO CCS------------------------------------------*/

.custom-nav {
  margin-left: 150px;
  margin-right: 170px;
}
.custom-nav-link {
  white-space: nowrap; /* Evita que el texto se desplace hacia abajo */
}
.carousel-item {
  height: 30rem;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.dimensionPinicio {
  height: 250px;
  width: 100%;
}

.separadorInicio{
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.tituloPagInicio{
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.footer {
  padding: 10px;
  background-color: #A7E9AF;
}
.logo-footer {
  padding-top: 15px;
  height: 55%;
  width: 55%;
}
.foooter {
  list-style: none;
  display: flex;
  align-items: center;
}
.terminos {
  padding-top: 25px;
  align-items: center;
  justify-content: center;
}

.botonInicio{
  background: linear-gradient(#585bf0, #84B6F4);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #2e518b;
  /*anchura, estilo y color borde*/
  padding: 10px;
  margin: 0% 40% 0% 40%;

  /*espacio alrededor texto*/
  color: #ffffff;
  /*color texto*/
  text-decoration: none;
  /*decoración texto*/
  text-transform: uppercase;
  /*capitalización texto*/
  font-family: 'Helvetica', sans-serif;
  /*tipografía texto*/
  border-radius: 50px;
}
